body{
	font-family: 'Open Sans', sans-serif;
	background-color: #efefef;
}

header{
	height: 250px;
	padding: 35px;
	background-color: #1E88E5;
	width: 100%;
	vertical-align: baseline;
	display: table !important;
	color: #fff;
	margin-bottom: 15px;
}

header .material-icons{
	font-size: 32px;
	color: #fff;
}

header h1{
	display: table-cell;
}

.active{
	color: #43A047 !important;
}

.side-nav h1{
	font-size: 4rem !important;
}

.side-nav h1 a{
	color: #000;
	text-decoration: none;
}

a:focus{
	text-decoration: none;
}

.side-nav a:hover{
	text-decoration: none;
}
.side-nav a:focus{
	text-decoration: none;
}

.mainheader{
	font-size: 20px !important;
	font-family: 'Montserrat', sans-serif;
}


.submenu{
	padding-left: 15px !important;
}


.bgblue{
	background-color: #1E88E5;
	color: #fff;
}

.bgpurple{
	background-color: #5E35B1;
	color: #fff;
}

.bgred{
	background-color: #E53935;
	color: #fff;
}

.container{
	padding: 15px 0px;
}

.subject-box{
	height: 300px;
}

code{
	display: inline-block !important;
	padding: 15px !important;
}

pre{
	display: inline-block;
}

.container a{
	color: #1E88E5;
}

.sectionnav{
	border-left: solid 5px #2E7D32;
	padding-left: 15px;
}
.sectionnav a{
	color: #2E7D32;
	font-size: 18px;

}

.sectionnav a:focus{
	text-decoration: none;
}
